#
# Ignore dirs
#
__pycache__
.vscode
build
dist
temp

#
# Ignore spec PyInstaller creates
#
xlsx-conv.spec

#
# Ignore csv outputted to resources
#
resources/*.txt
resources/*.csv

#
# Ignore files
#
*.bak
